/* eTouch Performance Appraisal application */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, em, img, small, strike, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time{
  /*margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html body {
  line-height: 16px;
  background-color: #e5f4fe;
  color: #202020;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
a {

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
div {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* button classes starts here */
.pa-cta-cnt {
  margin-top: 10px;
}
.pa-cta-cnt button {
  color: #fff;
  border-radius: 0;
  font-weight: bold;
}
.pa-cta-cnt button.primary {
  background-color: #159bfe;
}
.pa-cta-cnt button.secondary {
  background-color: #929292;
}
/* button classes ends here */
/* header section */
header{
  background-color: #fff;
  margin-bottom: 25px;
}
header .sub-header {
  border-top: solid 3px #85c525;
  background-color: #0d83dd;
  color: #fff;
  box-shadow: 0px 2px 4px #888888;
  padding: 10px 0;
}
header .sub-header h1 {
  text-indent: 10px;
  font-size: 18px;
  margin: 0px;
}
header .sub-header .add-action{
  background-color: #f34d77;
  color: #fff;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 1;
  right: 1px;
  top: -20px;
  text-align: center;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
  max-width: auto;
  padding-top: 5px;
  padding: 5px 8px;
  overflow: hidden;
  float: left;
  -webkit-animation: in 1s;
}
header .sub-header .add-action span {
  float: right;
  font-size: 15px;
  margin-top: 7px;
}
header .sub-header .add-action:hover {
  text-decoration: none;
  -webkit-animation: out 1s;
}
header .sub-header .add-action:hover span{
  
}
@-webkit-keyframes in {
    from   { width: 40px; }
    to { width: 100px;}
}

@-webkit-keyframes out {
    0%   {width: 100px;}
    100% {width: 40px;}
}
header .sub-header .arrow {
  font-size: 150%;
  line-height: 0px;
}
header .sub-header .date-details {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  margin-right: 0px;
}
header .sub-header .date-details .input-group-addon {
  width: auto;
  display: inline-block;
  background: transparent;
  border: 0;
  padding: 0;
}
header .sub-header .date-details .input-group-addon .glyphicon {
  font-size: 20px;
    color: #65CCCB;
}
/* employee details starts here */


/* employee details ends here */
header .sub-header .date-details input {
  color: #fff;
    background: transparent;
    border: 0;
    width: 100px;
    float: none;
    border-bottom: 1px dotted #fff;
}
header .sub-header .profile-name span{
  color: #fff;
  font-size: 20px;
}
header .sub-header .pa-emp-dtl-cnt {
  padding-left: 10px;
  list-style-type: disc;
  color: #dadada;
  font-weight: normal;
}
header .sub-header .pa-emp-dtl-cnt ul {
  padding-left: 0;
  margin-bottom: 0;
}
header .sub-header .pa-emp-dtl-cnt ul li + li {
  margin-top: 1em;
}
.pa-emp-description-cnt .list-group-item.row{
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.pa-emp-description-cnt .list-group-item.row div {
  padding: 0;
}

.pa-emp-description-cnt .rating-band .NA {
  border: solid 1px #65cccb;
  background-color: #fff;
}
.pa-emp-dtl-cnt .pa-emp-value {
  color: #fff;
}
.input-box {
  background-color: #f6f6f6;
  border: none;
  font-weight: bold;
  padding: 5px 0;
    text-align: center;
}
.dev-need-actn-tbl .input-box {
  font-weight: normal;
  padding-left: 5px;
  text-align: left;
}
.pa-emp-dtl-cnt .comment-section {

}
header .pa-logo {
  padding: 5px;
  padding-left: 0;
}
header .pa-logo img {
  width: 80px;
  float: left;
}
header .heading {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 15px 130px;
  color: #313541;
}
header .heading:before {
 content:"";
 background: #e4e7ed;
 height: 55px;
 width: 2px;
 position: absolute;
 margin: -20px 0 0 -15px
}
header .pa-welcome-cnt {
  margin-top: 8px;
  margin-bottom: 10px;
  display: table;
  color: #4d4d4d;
  font-size: 12px;
}
@media (max-width: 991px){
  header .pa-welcome-cnt{
      margin-top: 0px;
  }
}
header .pa-welcome-cnt span.user img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
}
.sub-header .profile-image img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
header .pa-welcome-cnt .notification {
  /*background: url(../images/notification.png) no-repeat;*/
  height: 26px;
  width: 23px;
  display: inline-block;
  margin-right: 20px;
  fill: #4d4d4c;
  position: relative;
  top: 8px;
}
header .pa-welcome-cnt .notification sup {
  background-color: #f14c75;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  padding: 5px;
  padding-top: 8px;
  display: inline-block;
  position: absolute;
  right: -1px;
  top: -3px;
  cursor: default;
}
/* header section ends */
/* body section */
.pa-body-cnt{
  margin: 10px;
  margin-bottom: 60px;
}
.pa-body-cnt .info-dotted {
  background-color: #fff;
  padding: 8px;
  border: dashed 1px #b8b8ba;
  line-height: 16px;
}
.sub-header .pa-h1 {
  display: inline-block;
}
.sub-header .action-title {
    width: auto;
    height: 25px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px;
}
.sub-header .af-carot {
  fill: #fff;
  top: -2px;
  position: relative;

}
.sub-header .hr-line {
  background: #02a397;
}
.sub-header .action-dropdown {
font-size: 18px;
color: #202020;
left: 4px;
}
.sub-header .add-item > div {
  width: 40px;
}
.sub-header .add-item-accomplishment > div .menu-button .menu-open-button:hover {
  max-width: 200px;
  left: -155px;
}
.sub-header .add-item-activity > div .menu-button .menu-open-button:hover {
  max-width: 150px;
  left: -95px;
}
.sub-header .add-item-objective > div .menu-button .menu-open-button:hover {
  max-width: 150px;
  left: -105px;
}
.pa-body-cnt .pa-h2 {
  color: #3c4d60;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}
.pa-body-cnt .pa-h2 + p {
  color: #86878b;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 6px;
}
.pa-body-cnt .pa-h3 {
  color: #3c4d60;
  font-size: 14px;
  font-weight: normal;
  margin: 6px 0px;
}
.pa-body-cnt .pa-h1 span{
  font-size: 12px;
}
.pa-body-cnt .pa-h2 span{
  font-size: 12px;
  color: #777777;
  font-weight: normal;
  display: block;
  padding-top: 5px;
}
.pa-body-cnt .pa-search, .pa-body-cnt .pa-action {
  background-color: rgba(255, 255, 255, 0.4);
  background-color: #fff;
  padding: 8px;
  margin-bottom: 5px;
}
.pa-body-cnt .pa-search input {
  /*border: 0; */
  border: solid 1px #efefef;
  color: #6d7074;
  font-size: 13px;
  border-radius: 0;
}
.pa-body-cnt .pa-search .pa-search-result {
  position: absolute;
  z-index: -1;
  width: 90%;
}
.pa-body-cnt .pa-search .pa-search-result ul{
  margin: 0;
  padding: 0;
  cursor: default;
  background: #f7f8f9;
  border: 1px solid #c5c7ce;
  box-shadow: 4px 4px 0 rgba(6,41,66,.25);
  transition: all 0.5s ease;
  -webkit-transition:  all 0.5s ease;
  -moz-transition:  all 0.5s ease;
  -o-transition:  all 0.5s ease;
  transition:  all 0.5s ease;
  opacity: 0;
}
.pa-body-cnt .pa-search .pa-search-result.show {
  z-index: 1;
}
.pa-body-cnt .pa-search .pa-search-result.show ul {
  opacity: 1;
}
.pa-body-cnt .pa-search .pa-search-result ul li {
  padding: 3px;
  line-height: 30px;
}
.pa-body-cnt .pa-search .pa-search-result ul li a{
  color: #0d83dd;
  text-decoration: none;
}
.pa-body-cnt .pa-search .pa-search-result ul li:hover a {
  color: #062942;
}
.pa-body-cnt .pa-search input + button[type='submit'] {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='30'><path fill='#85c525' d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z' /></svg>") no-repeat right top;
  border: 0;
  position: absolute;
  top: 14px;
  right: 17px;
  height: 24px;
  width: 24px;
}
.pa-body-cnt .pa-action {
  padding: 13px 8px 12px;
}
.pa-pagination-section {
        background: #fff;
        padding: 0px 10px 10px;
        font-size: 13px;
        }
      .pa-pagination {
      }
      .pa-pagination span{
        position: relative;
      }
      .pa-pagination .pa-arrow {
        top: 5px;
      }
      .pa-curr-page-number {
        width: 35px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: #fafafa;
        margin: 0 5px;
        text-align: center;
      }
      .pa-active {
        fill: #149bfe;
      }
      .pa-inactive {
        fill: #c3c3c3;
      }
      .pa-arrow-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        cursor: pointer;
      }

/* table style starts here */
.pa-body-cnt .pa-tbl-cnt {
  /*box-shadow: 0px 2px 4px #888888;*/
}
.pa-tbl-caption {

}
.pa-tbl-cnt table {
  background-color: #fff;
  border-width: 1px 0 0 1px;
  width: 100%;
  /*font-size: 13px; */
}
.pa-tbl-cnt th {
  border: solid 1px #e8e8e8;
  border-width: 0 0 1px 0;
  padding: 10px;
  color: #3c4d60;
}
.pa-tbl-cnt td {
  border: solid 1px #e8e8e8;
  border-width: 0 0 1px 0;
  padding: 10px;
  color: #3c4d60;
  vertical-align: top;
}
.pa-tbl-cnt .col-rating {
  text-align: center;
  padding: 5px;
}
.pa-tbl-cnt .col-rating ul {
  margin: 0;
  text-align: left;
  padding: 0;
  line-height: 15px;
}
.pa-cta-cnt .pa-btn {

}
/* table style ends here */
/* action dropdown starts here */
.action {
         display: block;
         position: relative;
         cursor: pointer;
         }
    .action-title {
         width: 96px;
         height: 25px;
         line-height: 25px;
         text-align: center;
         color: #149bfe;
         font-weight: bold;
         font-size: 13px;
         display: inline-block;
         }
  .action .txt {
    /*transition: all 0.5s ease;*/
  }
    .action-title:hover:before {
         border-top-color: #8db842;
         }
    .action:hover > .action-title:before {
         border-top-width: 0;
         transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
         }
    .action:hover > .action-title:after {
         border-bottom-width: 5px;
         transition: 0.2s 0.2s border-bottom-width ease-out;
         }
    .action-dropdown {
         min-width: 100%;
         padding: 0;
         position: absolute;
         background: #fafafa;
         left: -70px;
         top: 21px;
         z-index: 100;
         transition: 0.5s padding, 0.5s background;
         font-size: 13px;
         -moz-box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
         -webkit-box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
         box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
         }
    .action-dropdown li:hover { 
         background: #eee;
         }
    .action-dropdown > * {
         overflow: hidden;
         padding: 10px 24px;
         background: transparent;
         white-space: nowrap;
         transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
         }
         .action-dropdown > *:hover {
         background: rgba(0, 0, 0, 0.1);
         }
         .action:not(:hover) > .action-dropdown > * {
         visibility: hidden;
         height: 0;
         padding-top: 0;
         padding-bottom: 0;
         margin: 0;
         transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
         z-index: 99;
         }
         
         .af-carot {
         display: inline-block;
         font-size: 13px;
         position: absolute;
         top: -4px;
         fill: #149bfe;
         -ms-transform: rotate(180deg); 
         -webkit-transform: rotate(180deg); 
         transform: rotate(180deg);
         transition: transform 0.2s linear;
         transform-origin: center center;
         }
         .action:hover .af-carot  {
         -ms-transform: rotate(0deg); 
         -webkit-transform: rotate(0deg); 
         transform: rotate(0deg);
         top: 6px;
         }
         .hr-line {
         height: 2px;
         background: #149bfe;
         width: 100%;
         padding: 0;
         margin: 0;
         }
/* action dropdown ends here */
/* add item css clases */
.menu-button {
  position: relative;
    left: 0px;
    top: -6px;
}
.menu-open-button {
  height: 40px;
  border-radius: 25px;
  background: #85c525;
  color: #fff;
  border: none;
  font-size: 16px;
  position: absolute;
  max-width: 40px;
  right: 0px;
  left: 0px;
  -webkit-transition: max-width .2s ease-out, left .2s ease-out;
  transition: max-width .3s ease-in-out, left .3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.menu-open-button .material-icons{
  position: relative;
    top: 10px;
    left: 13px;
    font-size: 24px;
    font-weight: bold;
}

.menu-open-button .btn-detail-text {
  position: absolute;
    top: 12px;
  left: 33px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;

}
.menu-open-button:hover {
  max-width: 184px;
  left: -145px;
  background: 

}
.menu-open-button:hover .btn-detail-text {
 opacity: 1;
}
/* add item css clases ends here */
/* previous year objective starts here */
.pre-yr-obj textarea, .dev-need-actn-tbl textarea {
 border: 0px solid #f1f1f1;
 padding:10px;
  height: 60px;
  resize: none;
  width: 100%;
  padding-right: 50px;
}
.pre-yr-obj .pre-obj-table table tr:hover td, .dev-need-actn-tbl table tr:hover td{
  /*border: solid 1px; */
  background-color: #fafafa;
}
.pre-yr-obj-padding{background: #fff none repeat scroll 0 0;}
.pre-obj-table {margin-top:5px;}
/* .pre-yr-obj-padding table th{border:none;} */
.pre-yr-obj .es-table.pa-tbl-cnt td, .dev-need-actn-tbl td{position:relative;}
.pre-obj-table .close-btn, .dev-need-actn-tbl .close-btn, .training-activities .close-btn {fill: #dedede;position:absolute;right:3px;top:3px;cursor:pointer; display: none;}
.pre-obj-table table tr:hover .close-btn, .dev-need-actn-tbl table tr:hover .close-btn, .training-activities .activities-content:hover .close-btn{display: block;}
.pre-obj-table table tr .close-btn:hover, .dev-need-actn-tbl table tr .close-btn:hover, .training-activities .activities-content .close-btn:hover {fill: #848484;}
}
/* previous year objective ends here */
/* ratings radio style starts here */
.es-table .radios-wrapper{
  position:relative;
  width:18px;
  left: 50%;
  margin-left: -9px;
}
.es-table input[type="radio"]{
  position:absolute;
  right:1000%;
  opacity: 0;
}
.es-table label{
  float:left;
  width:100%;
  border: 2px solid #888888;
  background:#fff;
  border-radius:50%;
  cursor:pointer;
  height:18px;
  margin-bottom:10px;
}
.es-table #slider{
  position:absolute;
  left:3px; 
  top:3px;
  width:12px;
  height:12px;
  background:#148c83;
  transition:transform 1s;
  border-radius:50%;
  animation-timing-function: ease-in-out;
  animation-duration:.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left .05s ease-in-out;
}
.es-table #input1:checked  ~ #slider{ animation-name: input1; top:2px; }
.es-table #input2:checked  ~ #slider{ animation-name: input2; top:31px; }
.es-table #input3:checked  ~ #slider{ animation-name: input3; top:59px; }
.es-table #input4:checked  ~ #slider{ animation-name: input4; top:87px; }
.es-table #input5:checked  ~ #slider{ animation-name: input5; top:115px; }

@keyframes input1{ 30%, 70% { transform:scale(0.5); } }
@keyframes input2{ 30%, 70% { transform:scale(0.5); } }
@keyframes input3{ 30%, 70% { transform:scale(0.5); } }
@keyframes input4{ 30%, 70% { transform:scale(0.5); } }
@keyframes input5{ 30%, 70% { transform:scale(0.5); } }

.es-table #input6:checked  ~ #slider{ animation-name: input6; top:2px; }
.es-table #input7:checked  ~ #slider{ animation-name: input7; top:31px; }
.es-table #input8:checked  ~ #slider{ animation-name: input8; top:59px; }
.es-table #input9:checked  ~ #slider{ animation-name: input9; top:87px; }
.es-table #input10:checked  ~ #slider{ animation-name: input10; top:115px; }

@keyframes input6{ 30%, 70% { transform:scale(0.5); } }
@keyframes input7{ 30%, 70% { transform:scale(0.5); } }
@keyframes input8{ 30%, 70% { transform:scale(0.5); } }
@keyframes input9{ 30%, 70% { transform:scale(0.5); } }
@keyframes input10{ 30%, 70% { transform:scale(0.5); } }
/* ratings radio style ends here */

/* career-aspirations starts here */
.pa-body-cnt .title{
  padding:10px;background:rgba(255, 255, 255, 0.4);font-weight:bold;color:#1b3148;margin-bottom:1px; margin-top: 5px;
  /*background-color: rgba(255, 255, 255, 0.4);
  padding: 8px;
  margin-bottom: 5px;*/
}

.dev-need-actn-tbl .title span {
  font-size: 12px;
  font-weight: normal;
}
.pa-tbl-cnt .sub-title{background:#fff;margin-bottom:5px;}
.pa-tbl-cnt .comments textarea, .pa-tbl-cnt .sub-title textarea{height:40px; border:0px solid #f1f1f1;width:100%;resize:none;padding:10px;}
.pa-tbl-cnt .comments textarea {height:74px;}
.training-activities .title {
  margin-top: 5px;
}
/* career-aspirations ends here */

/* participating-in-training starts here */
.training-activities .activities-content{background:#fff;margin-bottom:2px;position:relative;} 
.training-activities .activities-content:hover{background:#fafafa;}
.training-activities .activities-content textarea{height:40px; border:none; width:100%;resize:none;padding:10px;}
/* participating-in-training ends here */
/* Employee Statement Of Objectives starts here */
.employee-statement-page h2 input.form-control{
  display: inline-block;
  width: auto;
}
/* Employee Statement Of Objectives ends here */
/* modal classes */

/* modal classes ends here */

/* check-box css*/

.checkmark-button-container, .radio-button-container  {
  margin: 0px auto 0;
  width:18px;
  display: inline-block;
}
.pa-tbl-cnt td {
  vertical-align: middle;
  position: relative;
}
.pa-tbl-cnt th {
  /*padding-left: 5px;*/
}
.checkmark-button-container label{
  margin-bottom: 0;
  top: 2px;
}

/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 7px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 7px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 7px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}
.checkmark-button-container input[type=checkbox] {
  display: none;
}

.check-box {
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  position: relative;
  display: inline-block;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
  border-radius: 2px;
}
.check-box::before, .check-box::after {
  position: absolute;
  height: 0;
  width: 2px;
  background-color: #148c83;
  display: inline-block;  
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}
.check-box::before {
  top: 8px;
  left: 6px;
  -moz-transform: rotate(-130deg);
  -ms-transform: rotate(-130deg);
  -o-transform: rotate(-130deg);
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
}
.check-box::after {
  top: 3px;
  left: 1px;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.checkmark-button-container input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #148c83;
}
.checkmark-button-container input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 50px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
.checkmark-button-container input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 120px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
/* check-box css ends*/


/*Radio buttons classes*/
.es-table .radio-button-container {
      margin-top: 5px;
}
.es-table tr td:first-child {
vertical-align: top;
}
 .es-table .radio-button-container label {
  height: 18px;
  width: 18px;
  margin-bottom: 0;
}
.es-table li div.radio-button-container label {
  top: 3px;
}
.radio-button-container .check-box::before {
  top: 12px;
  left: 5px;
}
.radio-button-container .check-box::after {
  top: 6px;
  left: 0px;
}
.position-duties .es-table .radio-button-container {
  position: relative;
  top: 2px;
  margin-right: 8px;
}
input[type=radio] {
  display: none;
}
input[type=radio]:checked + .check-box,
.check-box.checked {
  border-color: #148c83;
}
input[type=radio]:checked + .check-box::after,
.check-box.checked::after {
  height: 50px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=radio]:checked + .check-box::before,
.check-box.checked::before {
  height: 120px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
/*Radio buttons classes ends*/
/* over all page css starts here */
.over-all-cnt .list-group-item {
   float: left;
}
.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}
/* over all page css ends here */
/* too-tip css*/
.tool-tip-shadow{
   -moz-box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
    -webkit-box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
    box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
    background: #fafafa;
}
.pa-tooltip {
  position: relative;
  padding-bottom: 5px;
}
.pa-tooltip > .pa-tooltip-section{
  width: auto;
  background: #fafafa;
  font-size: 13px;
    -moz-box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
    -webkit-box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
    box-shadow: 0 1px 3px 0 rgba(147,147,147,0.55);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}
.pa-tooltip:hover > .pa-tooltip-section{
  opacity: 1;
  top: 16px;
}
.pa-tooltip .pa-tooltip-content{
  padding: 10px;
  }
.pa-tooltip .comment-name{
font-weight: bold;
white-space: nowrap;
}
.pa-tooltip .comment-date {
  color: #717171;
  white-space: nowrap;
}
.pa-tooltip .hr-line {
  background-color: #02a397;
}
/* tool-tip css ends*/

/* Add manager css */
.pa-addmanager-section {
position: relative;
}
.pa-addmanager {
border: none;
background: #fafafa;
padding: 5px 5px 5px 5px;
box-sizing: content-box;
width: 90%;
}
.pa-plus-icon {
display: block;
position: absolute;
font-size: 16px;
right: 10px;
cursor: pointer;
top: 0;
visibility: hidden;
width: 21px;
height: 25px;
text-align: center;
z-index: 1;
margin: 0;
vertical-align: middle;
}
.pa-plus-icon svg {
fill: #02a397;
width: 15px;
height: 15px;
display: inline-block;
margin-top: 5px;
}
.pa-addmanager:hover + .pa-plus-icon, .pa-addmanager:focus + .pa-plus-icon, .pa-plus-icon:hover, .pa-tbl-cnt table tr:hover .pa-plus-icon {
visibility: visible;
}

.pa-addmanager-data .pa-added-mgr-list {
  padding: 3px;
  min-height: 28px;
}
.pa-addmanager-data .pa-added-mgr-list .mgr {
  background-color: #f6f6f6;
  border: solid 1px #dfdfdf;
  padding: 2px;
  cursor: default;
  display: inline-block;
}
.pa-addmanager-data .pa-added-mgr-list .mgr .remove-mgr {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 3px;
}
.pa-addmanager-data .pa-added-mgr-list .mgr .remove-mgr:after {
  content: 'x';
  font-size: 10px;
  top: -4px;
  position: absolute;
  left: 2px;
}
.pa-addmanager-data .pa-added-mgr-list .mgr .remove-mgr:hover {
  background-color: #7d7d7d;
  color: #fff;
}
.pa-addmanager-dropdown{
  position: absolute;
  z-index: -1;
  top: 36px;
  opacity: 0;
  min-width: 183px;
  max-width: 200px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.pa-addmanager-dropdown.show {
  opacity: 1;
  z-index: 2;
}
.pa-addmanager-section .pa-addmanager:focus + div.pa-addmanager-dropdown {
  display: block;

}
.pa-addmanager-data .manager-img img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 4px;
}
.pa-addmanager-dropdown .pa-addmanager-data {
position: relative;
}  
.pa-addmanager-dropdown .pa-manager-list {
/*padding: 10px; */
overflow-y: scroll;
}
.pa-addmanager-dropdown .pa-manager-list ul{
padding-left: 0;
margin: 0;
}  
.pa-addmanager-dropdown .pa-manager-list ul li{
cursor: default;
}
.pa-addmanager-dropdown .pa-manager-list ul li:hover {
  background-color: #d8d8d8;
}
.pa-addmanager-dropdown .input-addmanager {
border: none;
background: none;
padding: 5px;
}  
.pa-addmanager-dropdown .grey-hr-line {
background: #ccc;
height: 3px;
}  
.pa-addmanager-dropdown .hr-line {
background-color: #02a397;
}

/* Model css */
.modal-content {
   border-radius: 0;
}
.modal-header {
background-color: #ebebeb;
padding-bottom: 0;
}
.modal-body, .modal-footer {
   background-color: #eff4fa;
}
.modal-header .close {
   top: -15px;
    background: #fff;
    z-index: 1111;
    position: absolute;
    opacity: 1;
    border-radius: 25px;
    width: 35px;
    right: -15px;
    height: 35px;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal .pa-body-cnt {
margin-top: 10px;
}
.modal-footer {
   margin-top: 0px;
   padding: 0 15px 15px;
}
.modal-body, .modal-footer {
    background-color: #ebebeb;   
}
.modal-header, .modal-footer {
 border: none;
}
.model-table-content {
background-color: #eff4fa; 
}
.modal .pa-body-cnt .pa-search {
   background: none;
}
/* Model css ends */
/* Add Manager css ends
/* modal classes ends here */
/* body section ends */
/* footer section */
footer{
  background-color: #8a8a8a;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* footer section ends */
/*Display None & block */
.display-none:{
  display: none;
}
.display-block:{
  display: block;
}
/*Display None & block ends */